body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: lightblue;
}

section{
    border: solid 3px lightslategrey;
    margin: 0 50px 50px 50px;
    border-radius: 10px;
    background-color: white;
}

h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    padding: 10px 0px;
}

h2{
    margin-left: 50px;
    font-weight: 700;
}

nav{
    display:flex;
    justify-content: space-evenly;
}

li{
    display: inline-block;
}

footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 30px;
}

footer p{
    color: white;
}

.container{
    justify-content: space-evenly;
    display: flex;
    padding: 60px;
}

.color {
    border: solid 1px;
    border-color: black;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    border-radius: 10px;
}

.banner{
    border: solid 1px #000000;
    width: 100%;
    background-image: url(https://img-9gag-fun.9cache.com/photo/2598037_700bwp.webp);
    margin-bottom: 50px;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
}

#background{
    color: white;
    background-color: #3f3f3f;
}

#accents{
    color: black;
    background-color: #adff2f;
}

#elements{
    color: white;
    background-color: #000000;
}

#sans_serif{
    font-family: sans-serif;
}

#georgia{
    font-family: georgia;
}

#first_container{
    margin-top: 260px;
}

#last_container{
    margin-bottom: 100px;
}

#title{
    background-color: black;
}

a {
    color: blue; /* sets the text color */
    text-decoration: none; /* removes the underline */
    background-color: black;
    font-size: 30px;
    padding:5px;
  }
  
  a:hover {
    color: red; /* changes the text color on hover */
    text-decoration: underline; /* adds an underline on hover */
  }
